/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
/*--------------------*/
a {
	text-decoration: none;
	color: black;
	color: #C05805;
}
h1 {
	padding-top: 0.5em;
    text-align: center;
}

h2 {
	padding-top: 0.5em;
	text-align: center;
	font-family: Comic Sans MS;
	font-weight: 600;
	font-size: 20px;
}

table {
	padding-bottom: 1.5em;
	margin: auto;
	border-collapse:collapse;
	border: 1px solid #2E2300;
	padding: 5px;
	width: 85%;
}
.date {
	text-align: center;
	color: #6E6702;
	
}
th {
	border: 1px solid #2E2300;
	padding: 5px;
}
img {
	display: block;
	margin: auto;
}