/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	display: none;
}
/*--------------------*/
a {
	text-decoration: none;
	color: #C05805;
}
h1 {
	padding-top: 0.5em;
    text-align: center;
	color: #2E2300;
}

h2 {
	padding-top: 0.5em;
	text-align: center;
	/*font-family: Comic Sans MS;*/
	font-weight: 600;
	font-size: 20px;
}

table {
	padding-bottom: 1.5em;
	margin: 10px auto;
	border-collapse:collapse;
	border: 1px solid #2E2300;
	width: 88%;
}
.date {
	text-align: center;
	color: #6E6702;
	
}
th, td {
	border: 1px solid #2E2300;
	padding: 5px;
	text-align: center;
}
img {
	display: block;
	margin: 5px auto;
}
.empty {
	height: 100px;
}

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
	background-image: url(./img/56-561367_north-arrow-png.png);
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}

